#random-number {
    font-size: 30px;
    width: 20%;
    margin-left: 10px;
}
.crystal {
    width:8%;
}

#red {
    position: absolute;
    bottom:-100px;
    left: 600px;
}

#blue {
    position:absolute;
    bottom:-100px;
    left: 725px;
}

#green {
    position:absolute;
    bottom:-100px; 
    left: 850px;
}

#yellow {
    position:absolute;
    bottom:-100px;
    left:975px;
}

#total-score {
    font-size:30px;
    width:23%;
    margin-top: 50px;
    margin-left: 10px;
}

#wins {
    margin-left: 300px;
    font-size: 20px;
    width: 10%;
    margin-top: -90px;
    height:60px;
}


#losses{ 
margin-left: 300px;
font-size:20px;
width: 10%;
top: 200px;
}


#win-lose-message{
    position:absolute;
    margin-left: 650px;
    margin-top: -250px;
    font-size:40px;
    color: blue bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}

#directions {
    width: 40%;
    color: green;
    margin-left:10px;
}

.card-img{
    width:100%;
    height: 200px;
}


.indiana {
    width:12%;
    position: absolute;
    top: 220px;
    left: 800px;
}


body{
    font-family: 'MedievalSharp', cursive;
    font-size: 13px;
    background-image: url("https://pre00.deviantart.net/c3d3/th/pre/f/2015/358/6/a/indiana_jones_and_the_infernal_machine_world_map_by_skymarshalvince-d9l9nim.jpg");
    background-repeat:no-repeat;
    background-size: 1350px;
    padding-bottom: 5px;
}

header{ 
    position:absolute;
    left: 525px;
    top: 200px;
    font-size: 40px;
}

h1 {
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #ffffff;
}

h2 {
    margin-top: 40px;
}

h3 {
    margin-left: 650px;
    margin-top: -50px;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:#ffffff;
}